Read Baby Name Data

Task 1: 
- how many columns?
    3
- how are the columns seperated ?
    seperated by comma  
- is there a header on top of the files ?
    no header

In [1]:
import pandas as pd

In [3]:
baby_names = pd.read_csv("../names/yob2021.txt", header=None)

In [5]:
# print out first 10 rows
baby_names.head(10)

           0  1      2
0     Olivia  F  17728
1       Emma  F  15433
2  Charlotte  F  13285
3     Amelia  F  12952
4        Ava  F  12759
5     Sophia  F  12496
6   Isabella  F  11201
7        Mia  F  11096
8     Evelyn  F   9434
9     Harper  F   8388

In [6]:
# print out the number of rows in the dataset
print(len(baby_names))

31537

In [7]:
# print out the number of columns in the dataset
print(len(baby_names.columns))

3

In [8]:
# create list with all the baby counters in the dataset
babies_list = baby_names.values.tolist()
print(babies_list[0:10])
babies_counter = [i[2] for i in babies_list]
print(babies_counter[0:10])

[['Olivia', 'F', 17728], ['Emma', 'F', 15433], ['Charlotte', 'F', 13285], ['Amelia', 'F', 12952], ['Ava', 'F', 12759], ['Sophia', 'F', 12496], ['Isabella', 'F', 11201], ['Mia', 'F', 11096], ['Evelyn', 'F', 9434], ['Harper', 'F', 8388]]
[17728, 15433, 13285, 12952, 12759, 12496, 11201, 11096, 9434, 8388]

In [9]:
# calculate the total number of babies born in 2021
print(sum(babies_counter))

3361375

In [10]:
babies_counter_male = []
babies_counter_female = []
for i in babies_list:
    if i[1] == "M":
        babies_counter_male.append(i[2])
    elif i[1] == "F":
        babies_counter_female.append(i[2])
print(babies_counter_female[0:10])
print(babies_counter_male[0:10])

[17728, 15433, 13285, 12952, 12759, 12496, 11201, 11096, 9434, 8388]
[20272, 18739, 14616, 12708, 12367, 12088, 11791, 11501, 11307, 9535]

In [11]:
sum_of_boys = (sum(babies_counter_male))
sum_of_girls = (sum(babies_counter_female))

In [12]:
print('number boys: ' + str(sum_of_boys) + ' | ' + 'sum girls: ' + str(sum_of_girls))

number boys: 1734277 | sum girls: 1627098

In [13]:
# Calculate the total number of babies born in 2021 by using the iloc method
amounts = baby_names.iloc[:, 2]
print(sum(amounts))

3361375

In [14]:
males = baby_names[baby_names[1] == "M"]
male_amounts = males.iloc[:, 2]
print(sum(male_amounts))

1734277

In [15]:
females = baby_names[baby_names[1] == "F"]
female_amounts = females.iloc[:, 2]
print(sum(female_amounts))

1627098

In [16]:
david = baby_names[baby_names[0] == "David"]
print(david)

           0  1     2
9675   David  F    10
17573  David  M  7843

In [17]:
percentage_boys = (sum(male_amounts) / sum(amounts)) * 100
print(percentage_boys)
percentage_girls = (sum(female_amounts) / sum(amounts)) * 100
print(percentage_girls)

51.59427317689933
48.405726823100665

In [18]:
males.set_index(0, inplace=True)
females.set_index(0, inplace=True)

In [19]:
print(males)
print(females)

        1      2
0
Liam    M  20272
Noah    M  18739
Oliver  M  14616
Elijah  M  12708
James   M  12367
...    ..    ...
Zyeire  M      5
Zyel    M      5
Zyian   M      5
Zylar   M      5
Zyn     M      5

[13993 rows x 2 columns]
           1      2
0
Olivia     F  17728
Emma       F  15433
Charlotte  F  13285
Amelia     F  12952
Ava        F  12759
...       ..    ...
Zylynn     F      5
Zynovia    F      5
Zyona      F      5
Zyri       F      5
Zyrihanna  F      5

[17544 rows x 2 columns]

In [20]:
sorted_males = males.iloc[:, 1].sort_values(ascending=False).iloc[:5]
print(sorted_males)
sorted_females = females.iloc[:, 1].sort_values(ascending=False).iloc[:5]
print(sorted_females)

0
Liam      20272
Noah      18739
Oliver    14616
Elijah    12708
James     12367
Name: 2, dtype: int64
0
Olivia       17728
Emma         15433
Charlotte    13285
Amelia       12952
Ava          12759
Name: 2, dtype: int64

In [21]:
data = [sorted_males, sorted_females]
new_file = pd.concat(data)
print(new_file)

0
Liam         20272
Noah         18739
Oliver       14616
Elijah       12708
James        12367
Olivia       17728
Emma         15433
Charlotte    13285
Amelia       12952
Ava          12759
Name: 2, dtype: int64

In [23]:
new_file.to_excel("../excel_sheets/top5.xlsx")