Timelines of Baby Names

In [35]:
import seaborn as sns
import pandas as pd
import numpy as np

In [36]:
yob2000 = pd.read_csv("../datasets/names/yob2000.txt", header=None)
amounts = yob2000.iloc[:, 2]
print(sum(amounts))
yob2000.head(5)

3779380

         0  1      2
0    Emily  F  25957
1   Hannah  F  23085
2  Madison  F  19968
3   Ashley  F  17997
4    Sarah  F  17708

In [ ]:
yob2000_list = yob2000.values.tolist()
print(yob2000_list[0:5])
percentage_list = [(i[2] / sum(amounts)) * 100 for i in yob2000_list]
print(percentage_list[0:5])

In [38]:
yob2000["percentage"] = percentage_list
yob2000.head(5)

         0  1      2  percentage
0    Emily  F  25957    0.686806
1   Hannah  F  23085    0.610814
2  Madison  F  19968    0.528341
3   Ashley  F  17997    0.476189
4    Sarah  F  17708    0.468542

In [ ]:
import glob
filenames = sorted(glob.glob("../datasets/names/yob*.txt"))
# print(filenames)
dfs_v1 = [pd.read_csv(i) for i in filenames]
dfs = [i.reset_index(drop=True) for i in dfs_v1]
# print(dfs[0:5])
all_names = pd.concat(dfs, ignore_index=True)
# all_names.head(5)